@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
.asd{
    background-blend-mode: darken;
    background: rgba(0,0,0,0.5) url(/commingsoonImg.png) 100%/cover;
}
.silkscreen {
    font-family: "Silkscreen", serif;
    }
    .herobg{
        background: url(../public/broken\ png.png);
       background-size: contain;
        background-position: top;
    }
    .background-slider {
        width: 100%;
        height: 100vh;
      }
      
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
      }